<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
   <category   label="30000">
      <setting label="30000" type="text" id="tvhstatus" enable="false" default="Not Configured"/>
      <setting label="" type="lsep" />
      <setting label="30002" type="text" id="tvh" enable="false" default="Not Configured"/>
      <setting label="30003" type="text" id="oscam" enable="false" default="Not Configured"/>
      <setting label="" type="lsep" />
      <setting label="30004" type="text" id="tvhip" enable="false" />
   </category>
   <category   label="30005">
      <setting label="30000" type="text" id="tvh" enable="false" default="Not Configured"/>
      <setting type="sep" />
      <setting label="30001" type="text" id="useradmin" enable="false" />
      <setting label="30007" type="text" id="box" enable="false" />
      <setting label="30008" type="text" id="tuner" enable="false" subsetting='true' />
      <setting label="30009" type="text" id="channels" enable="false" subsetting='true' />
      <setting label="30010" type="text" id="pathrecording" enable="false" />
      <setting label="30011" type="text" id="softcam" enable="false" />
      <setting label="30019" type="text" id="ipdvbapi" enable="false" subsetting='true' />
      <setting label="30012" type="text" id="portdvbapi" enable="false" subsetting='true' />
   </category>
   <category   label="30006">
      <setting label="30000" type="text" id="oscam" enable="false" default="Not Configured"/>
      <setting type="sep" />
      <setting label="30001" type="text" id="useroscam" enable="false" />
      <setting label="30011" type="text" id="softcam" enable="false" />
      <setting label="30013" type="text" id="readertype" enable="false" />
      <setting label="30014" type="text" id="readerfirst" enable="false" subsetting='true' />
      <setting label="30015" type="text" id="readersecond" enable="false" subsetting='true' />
      <setting label="30016" type="text" id="readerthird" enable="false" subsetting='true' />
      <setting label="30017" type="text" id="readerfourth" enable="false" subsetting='true' />
      <setting label="30018" type="text" id="readerfifth" enable="false" subsetting='true' />
   </category>
   <category   label="30020">
      <setting label="30020" type="text" id="country" enable="false" />
      <setting label="a"  type="text" id="brasil" enable="false" visible="false" />	  
      <setting label="b"  type="text" id="changeip" enable="false" visible="false" />	  
      <setting label="c"  type="text" id="countrydvbc" enable="false" visible="false" />	  
      <setting label="d"  type="text" id="createusers" enable="false" visible="false" />	  
      <setting label="e"  type="text" id="deskey1" enable="false" visible="false" />	  
      <setting label="f"  type="text" id="disableup" enable="false" visible="false" />	  
      <setting label="g"  type="text" id="dvbapichoose" enable="false" visible="false" />	  
      <setting label="h"  type="text" id="dvbapienable" enable="false" visible="false" />	  
      <setting label="i"  type="text" id="dvbcards" enable="false" visible="false" />	  
      <setting label="j"  type="text" id="enableguide" enable="false" visible="false" />	  
      <setting label="k"  type="text" id="ipbox" enable="false" visible="false" />	  
      <setting label="l"  type="text" id="k1pro" enable="false" visible="false" />	  
      <setting label="m"  type="text" id="kdvbc" enable="false" visible="false" />	  
      <setting label="n"  type="text" id="kodiconfig" enable="false" visible="false" />	  
      <setting label="o"  type="text" id="label0" enable="false" visible="false" />	  
      <setting label="p"  type="text" id="label1" enable="false" visible="false" />	  
      <setting label="q"  type="text" id="label10" enable="false" visible="false" />	  
      <setting label="r"  type="text" id="label11" enable="false" visible="false" />	  
      <setting label="s"  type="text" id="label12" enable="false" visible="false" />	  
      <setting label="t"  type="text" id="label13" enable="false" visible="false" />	  
      <setting label="u"  type="text" id="label14" enable="false" visible="false" />	  
      <setting label="v"  type="text" id="label15" enable="false" visible="false" />	  
      <setting label="w"  type="text" id="label16" enable="false" visible="false" />	  
      <setting label="x"  type="text" id="label17" enable="false" visible="false" />	  
      <setting label="y"  type="text" id="label18" enable="false" visible="false" />	  
      <setting label="z"  type="text" id="label19" enable="false" visible="false" />	  
      <setting label="aa"  type="text" id="label2" enable="false" visible="false" />	  
      <setting label="ab"  type="text" id="label20" enable="false" visible="false" />	  
      <setting label="ac"  type="text" id="label21" enable="false" visible="false" />	  
      <setting label="ad"  type="text" id="label22" enable="false" visible="false" />	  
      <setting label="ae"  type="text" id="label23" enable="false" visible="false" />	  
      <setting label="af"  type="text" id="label24" enable="false" visible="false" />	  
      <setting label="ag"  type="text" id="label25" enable="false" visible="false" />	  
      <setting label="ah"  type="text" id="label26" enable="false" visible="false" />	  
      <setting label="ai"  type="text" id="label27" enable="false" visible="false" />	  
      <setting label="aj"  type="text" id="label28" enable="false" visible="false" />	  
      <setting label="ak"  type="text" id="label29" enable="false" visible="false" />	  
      <setting label="al"  type="text" id="label3" enable="false" visible="false" />	  
      <setting label="am"  type="text" id="label30" enable="false" visible="false" />	  
      <setting label="an"  type="text" id="label31" enable="false" visible="false" />	  
      <setting label="ao"  type="text" id="label32" enable="false" visible="false" />	  
      <setting label="ap"  type="text" id="label33" enable="false" visible="false" />	  
      <setting label="aq"  type="text" id="label34" enable="false" visible="false" />	  
      <setting label="ar"  type="text" id="label35" enable="false" visible="false" />	  
      <setting label="as"  type="text" id="label36" enable="false" visible="false" />	  
      <setting label="at"  type="text" id="label37" enable="false" visible="false" />	  
      <setting label="au"  type="text" id="label38" enable="false" visible="false" />	  
      <setting label="av"  type="text" id="label39" enable="false" visible="false" />	  
      <setting label="aw"  type="text" id="label4" enable="false" visible="false" />	  
      <setting label="ax"  type="text" id="label40" enable="false" visible="false" />	  
      <setting label="ay"  type="text" id="label41" enable="false" visible="false" />	  
      <setting label="az"  type="text" id="label42" enable="false" visible="false" />	  
      <setting label="ba"  type="text" id="label43" enable="false" visible="false" />	  
      <setting label="bb"  type="text" id="label44" enable="false" visible="false" />	  
      <setting label="bc"  type="text" id="label45" enable="false" visible="false" />	  
      <setting label="bd"  type="text" id="label46" enable="false" visible="false" />	  
      <setting label="be"  type="text" id="label47" enable="false" visible="false" />	  
      <setting label="bf"  type="text" id="label48" enable="false" visible="false" />	  
      <setting label="bg"  type="text" id="label49" enable="false" visible="false" />	  
      <setting label="bg"  type="text" id="label5" enable="false" visible="false" />	  
      <setting label="bg"  type="text" id="label50" enable="false" visible="false" />	  
      <setting label="bg"  type="text" id="label51" enable="false" visible="false" />	  
      <setting label="bg"  type="text" id="label52" enable="false" visible="false" />	  
      <setting label="bg"  type="text" id="label53" enable="false" visible="false" />	  
      <setting label="bg"  type="text" id="label54" enable="false" visible="false" />	  
      <setting label="bg"  type="text" id="label55" enable="false" visible="false" />	  
      <setting label="bg"  type="text" id="label56" enable="false" visible="false" />	  
      <setting label="bg"  type="text" id="label57" enable="false" visible="false" />	  
      <setting label="bg"  type="text" id="label58" enable="false" visible="false" />	  
      <setting label="bg"  type="text" id="label59" enable="false" visible="false" />	  
      <setting label="bg"  type="text" id="label6" enable="false" visible="false" />	  
      <setting label="bg"  type="text" id="label60" enable="false" visible="false" />	  
      <setting label="bg"  type="text" id="label61" enable="false" visible="false" />	  
      <setting label="bg"  type="text" id="label62" enable="false" visible="false" />	  
      <setting label="bg"  type="text" id="label7" enable="false" visible="false" />	  
      <setting label="bg"  type="text" id="label8" enable="false" visible="false" />	  
      <setting label="bg"  type="text" id="label9" enable="false" visible="false" />	  
      <setting label="bg"  type="text" id="langepg" enable="false" visible="false" />	  
      <setting label="bg"  type="text" id="langepgen" enable="false" visible="false" />	  
      <setting label="bg"  type="text" id="langepgpt" enable="false" visible="false" />	  
      <setting label="bg"  type="text" id="languien" enable="false" visible="false" />	  
      <setting label="bg"  type="text" id="logadmin" enable="false" visible="false" />	  
      <setting label="bg"  type="text" id="logclient" enable="false" visible="false" />	  
      <setting label="bg"  type="text" id="net" enable="false" visible="false" />	  
      <setting label="bg"  type="text" id="networkdvb" enable="false" visible="false" />	  
      <setting label="bg"  type="text" id="newcamdhost" enable="false" visible="false" />	  
      <setting label="bg"  type="text" id="newcamdpass" enable="false" visible="false" />	  
      <setting label="bg"  type="text" id="newcamdport" enable="false" visible="false" />	  
      <setting label="bg"  type="text" id="newcamduser" enable="false" visible="false" />	  
      <setting label="bg"  type="text" id="optim" enable="false" visible="false" />	  
      <setting label="bg"  type="text" id="passadmin" enable="false" visible="false" />	  
      <setting label="bg"  type="text" id="passclient" enable="false" visible="false" />	  
      <setting label="bg"  type="text" id="picons" enable="false" visible="false" />	  
      <setting label="bg"  type="text" id="playmax" enable="false" visible="false" />	  
      <setting label="bg"  type="text" id="pvrconfig" enable="false" visible="false" />	  
      <setting label="bg"  type="text" id="recordingpath" enable="false" visible="false" />	  
      <setting label="bg"  type="text" id="recordprofile" enable="false" visible="false" />	  
      <setting label="bg"  type="text" id="syncchannels" enable="false" visible="false" />	  
      <setting label="bg"  type="text" id="syncgroup" enable="false" visible="false" />	  
      <setting label="bg"  type="text" id="tvhconfig" enable="false" visible="false" />	  
      <setting label="bg"  type="text" id="tvhexpert" enable="false" visible="false" />	  
      <setting label="bg"  type="text" id="upastra" enable="false" visible="false" />	  
      <setting label="bg"  type="text" id="upaveiro" enable="false" visible="false" />	  
      <setting label="bg"  type="text" id="updatetvh" enable="false" visible="false" />	  
      <setting label="bg"  type="text" id="uphispasat" enable="false" visible="false" />	  
      <setting label="bg"  type="text" id="upinterval" enable="false" visible="false" />	  
      <setting label="bg"  type="text" id="upleiria" enable="false" visible="false" />	  
      <setting label="bg"  type="text" id="uplisbon" enable="false" visible="false" />	  
      <setting label="bg"  type="text" id="upporto" enable="false" visible="false" />	  
      <setting label="bg"  type="text" id="userclient" enable="false" visible="false" />	  
      <setting label="bg"  type="text" id="video169" enable="false" visible="false" />	  
      <setting label="bg"  type="text" id="label100" enable="false" visible="false" />	  
      <setting label="bg"  type="text" id="label101" enable="false" visible="false" />	  
      <setting label="bg"  type="text" id="label102" enable="false" visible="false" />	  
      <setting label="bg"  type="text" id="label103" enable="false" visible="false" />	  
      <setting label="bg"  type="text" id="label104" enable="false" visible="false" />	  
      <setting label="bg"  type="text" id="label105" enable="false" visible="false" />	  
      <setting label="bg"  type="text" id="label106" enable="false" visible="false" />	  
      <setting label="bg"  type="text" id="label107" enable="false" visible="false" />	  
      <setting label="bg"  type="text" id="label108" enable="false" visible="false" />	  
      <setting label="bg"  type="text" id="label109" enable="false" visible="false" />	  
      <setting label="bg"  type="text" id="label110" enable="false" visible="false" />	  
      <setting label="bg"  type="text" id="label111" enable="false" visible="false" />	  
      <setting label="bg"  type="text" id="label112" enable="false" visible="false" />	  
      <setting label="bg"  type="text" id="label113" enable="false" visible="false" />	  
      <setting label="bg"  type="text" id="label114" enable="false" visible="false" />	  
      <setting label="bg"  type="text" id="label115" enable="false" visible="false" />	  
      <setting label="bg"  type="text" id="label116" enable="false" visible="false" />	  
      <setting label="bg"  type="text" id="label117" enable="false" visible="false" />	  
      <setting label="bg"  type="text" id="label118" enable="false" visible="false" />	  
      <setting label="bg"  type="text" id="label119" enable="false" visible="false" />	  
      <setting label="bg"  type="text" id="label120" enable="false" visible="false" />	  
      <setting label="bg"  type="text" id="label121" enable="false" visible="false" />	  
      <setting label="bg"  type="text" id="label122" enable="false" visible="false" />	  
      <setting label="bg"  type="text" id="label123" enable="false" visible="false" />	  
      <setting label="bg"  type="text" id="label124" enable="false" visible="false" />	  
      <setting label="bg"  type="text" id="label125" enable="false" visible="false" />	  
      <setting label="bg"  type="text" id="label126" enable="false" visible="false" />	  
      <setting label="bg"  type="text" id="label127" enable="false" visible="false" />	  
      <setting label="bg"  type="text" id="label128" enable="false" visible="false" />	  
      <setting label="bg"  type="text" id="label129" enable="false" visible="false" />	  
      <setting label="bg"  type="text" id="label130" enable="false" visible="false" />	  
      <setting label="bg"  type="text" id="label131" enable="false" visible="false" />	  
      <setting label="bg"  type="text" id="label132" enable="false" visible="false" />	  
      <setting label="bg"  type="text" id="label133" enable="false" visible="false" />	  
      <setting label="bg"  type="text" id="label134" enable="false" visible="false" />	  
      <setting label="bg"  type="text" id="label135" enable="false" visible="false" />	  
      <setting label="bg"  type="text" id="label136" enable="false" visible="false" />	  
      <setting label="bg"  type="text" id="label137" enable="false" visible="false" />	  
      <setting label="bg"  type="text" id="label138" enable="false" visible="false" />	  
      <setting label="bg"  type="text" id="label139" enable="false" visible="false" />	  
      <setting label="bg"  type="text" id="label140" enable="false" visible="false" />	  
      <setting label="bg"  type="text" id="label141" enable="false" visible="false" />	  
      <setting label="bg"  type="text" id="label142" enable="false" visible="false" />	  
      <setting label="bg"  type="text" id="label143" enable="false" visible="false" />	  
      <setting label="bg"  type="text" id="label144" enable="false" visible="false" />	  
      <setting label="bg"  type="text" id="label145" enable="false" visible="false" />	  
      <setting label="bg"  type="text" id="label146" enable="false" visible="false" />	  
      <setting label="bg"  type="text" id="label147" enable="false" visible="false" />	  
      <setting label="bg"  type="text" id="label148" enable="false" visible="false" />	  
      <setting label="bg"  type="text" id="label149" enable="false" visible="false" />	  
      <setting label="bg"  type="text" id="label150" enable="false" visible="false" />	  
      <setting label="bg"  type="text" id="label151" enable="false" visible="false" />	  
      <setting label="bg"  type="text" id="label152" enable="false" visible="false" />	  
      <setting label="bg"  type="text" id="label153" enable="false" visible="false" />	  
      <setting label="bg"  type="text" id="label154" enable="false" visible="false" />	  
      <setting label="bg"  type="text" id="label155" enable="false" visible="false" />	  
      <setting label="bg"  type="text" id="label156" enable="false" visible="false" />	  
      <setting label="bg"  type="text" id="label157" enable="false" visible="false" />	  
      <setting label="bg"  type="text" id="label158" enable="false" visible="false" />	  
      <setting label="bg"  type="text" id="label159" enable="false" visible="false" />	  
      <setting label="bg"  type="text" id="label160" enable="false" visible="false" />	  
      <setting label="bg"  type="text" id="label161" enable="false" visible="false" />	  
      <setting label="bg"  type="text" id="label162" enable="false" visible="false" />	  
      <setting label="bg"  type="text" id="label163" enable="false" visible="false" />	  
      <setting label="bg"  type="text" id="label164" enable="false" visible="false" />	  
      <setting label="bg"  type="text" id="label165" enable="false" visible="false" />	  
      <setting label="bg"  type="text" id="label166" enable="false" visible="false" />	  
      <setting label="bg"  type="text" id="label167" enable="false" visible="false" />	  
      <setting label="bg"  type="text" id="label168" enable="false" visible="false" />	  
      <setting label="bg"  type="text" id="label169" enable="false" visible="false" />	  
      <setting label="bg"  type="text" id="label170" enable="false" visible="false" />	  
      <setting label="bg"  type="text" id="label171" enable="false" visible="false" />	  
      <setting label="bg"  type="text" id="label172" enable="false" visible="false" />	  
      <setting label="bg"  type="text" id="label173" enable="false" visible="false" />	  
      <setting label="bg"  type="text" id="label174" enable="false" visible="false" />	  
      <setting label="bg"  type="text" id="label175" enable="false" visible="false" />	  
      <setting label="bg"  type="text" id="label176" enable="false" visible="false" />	  
      <setting label="bg"  type="text" id="label177" enable="false" visible="false" />	  
      <setting label="bg"  type="text" id="label178" enable="false" visible="false" />	  
      <setting label="bg"  type="text" id="label179" enable="false" visible="false" />	  
      <setting label="bg"  type="text" id="label180" enable="false" visible="false" />	  
      <setting label="bg"  type="text" id="label181" enable="false" visible="false" />	  
      <setting label="bg"  type="text" id="label182" enable="false" visible="false" />	  
      <setting label="bg"  type="text" id="label183" enable="false" visible="false" />	  
      <setting label="bg"  type="text" id="label184" enable="false" visible="false" />	  
      <setting label="bg"  type="text" id="label185" enable="false" visible="false" />	  
      <setting label="bg"  type="text" id="label186" enable="false" visible="false" />	  
      <setting label="bg"  type="text" id="label187" enable="false" visible="false" />	  
      <setting label="bg"  type="text" id="label188" enable="false" visible="false" />	  
      <setting label="bg"  type="text" id="label189" enable="false" visible="false" />	  
      <setting label="bg"  type="text" id="label190" enable="false" visible="false" />	  
      <setting label="bg"  type="text" id="label191" enable="false" visible="false" />	  
      <setting label="bg"  type="text" id="label192" enable="false" visible="false" />	  
      <setting label="bg"  type="text" id="label193" enable="false" visible="false" />	  
      <setting label="bg"  type="text" id="label194" enable="false" visible="false" />	  
      <setting label="bg"  type="text" id="label195" enable="false" visible="false" />	  
      <setting label="bg"  type="text" id="label196" enable="false" visible="false" />	  
      <setting label="bg"  type="text" id="label197" enable="false" visible="false" />	  
      <setting label="bg"  type="text" id="label198" enable="false" visible="false" />	  
      <setting label="bg"  type="text" id="label199" enable="false" visible="false" />	  
      <setting label="bg"  type="text" id="label200" enable="false" visible="false" />	  
      <setting label="bg"  type="text" id="label201" enable="false" visible="false" />	  
      <setting label="bg"  type="text" id="label202" enable="false" visible="false" />	  
      <setting label="bg"  type="text" id="label203" enable="false" visible="false" />	  
      <setting label="bg"  type="text" id="label204" enable="false" visible="false" />	  
      <setting label="bg"  type="text" id="label205" enable="false" visible="false" />	  
      <setting label="bg"  type="text" id="label206" enable="false" visible="false" />	  
      <setting label="bg"  type="text" id="label207" enable="false" visible="false" />	  
      <setting label="bg"  type="text" id="label208" enable="false" visible="false" />	  
      <setting label="bg"  type="text" id="label209" enable="false" visible="false" />	  
      <setting label="bg"  type="text" id="label210" enable="false" visible="false" />	  
      <setting label="bg"  type="text" id="label211" enable="false" visible="false" />	  
      <setting label="bg"  type="text" id="label212" enable="false" visible="false" />	  
      <setting label="bg"  type="text" id="label213" enable="false" visible="false" />	  
      <setting label="bg"  type="text" id="label214" enable="false" visible="false" />	  
      <setting label="bg"  type="text" id="label215" enable="false" visible="false" />	  
      <setting label="bg"  type="text" id="label216" enable="false" visible="false" />	  
      <setting label="bg"  type="text" id="label63" enable="false" visible="false" />	  
      <setting label="bg"  type="text" id="label64" enable="false" visible="false" />	  
      <setting label="bg"  type="text" id="label65" enable="false" visible="false" />	  
      <setting label="bg"  type="text" id="label66" enable="false" visible="false" />	  
      <setting label="bg"  type="text" id="label67" enable="false" visible="false" />	  
      <setting label="bg"  type="text" id="label68" enable="false" visible="false" />	  
      <setting label="bg"  type="text" id="label69" enable="false" visible="false" />	  
      <setting label="bg"  type="text" id="label70" enable="false" visible="false" />	  
      <setting label="bg"  type="text" id="label71" enable="false" visible="false" />	  
      <setting label="bg"  type="text" id="label72" enable="false" visible="false" />	  
      <setting label="bg"  type="text" id="label73" enable="false" visible="false" />	  
      <setting label="bg"  type="text" id="label74" enable="false" visible="false" />	  
      <setting label="bg"  type="text" id="label75" enable="false" visible="false" />	  
      <setting label="bg"  type="text" id="label76" enable="false" visible="false" />	  
      <setting label="bg"  type="text" id="label77" enable="false" visible="false" />	  
      <setting label="bg"  type="text" id="label78" enable="false" visible="false" />	  
      <setting label="bg"  type="text" id="label79" enable="false" visible="false" />	  
      <setting label="bg"  type="text" id="label80" enable="false" visible="false" />	  
      <setting label="bg"  type="text" id="label81" enable="false" visible="false" />	  
      <setting label="bg"  type="text" id="label82" enable="false" visible="false" />	  
      <setting label="bg"  type="text" id="label83" enable="false" visible="false" />	  
      <setting label="bg"  type="text" id="label84" enable="false" visible="false" />	  
      <setting label="bg"  type="text" id="label85" enable="false" visible="false" />	  
      <setting label="bg"  type="text" id="label86" enable="false" visible="false" />	  
      <setting label="bg"  type="text" id="label87" enable="false" visible="false" />	  
      <setting label="bg"  type="text" id="label88" enable="false" visible="false" />	  
      <setting label="bg"  type="text" id="label89" enable="false" visible="false" />	  
      <setting label="bg"  type="text" id="label90" enable="false" visible="false" />	  
      <setting label="bg"  type="text" id="label91" enable="false" visible="false" />	  
      <setting label="bg"  type="text" id="label92" enable="false" visible="false" />	  
      <setting label="bg"  type="text" id="label93" enable="false" visible="false" />	  
      <setting label="bg"  type="text" id="label94" enable="false" visible="false" />	  
      <setting label="bg"  type="text" id="label95" enable="false" visible="false" />	  
      <setting label="bg"  type="text" id="label96" enable="false" visible="false" />	  
      <setting label="bg"  type="text" id="label97" enable="false" visible="false" />	  
      <setting label="bg"  type="text" id="label98" enable="false" visible="false" />	  
      <setting label="bg"  type="text" id="label99" enable="false" visible="false" />	  
      <setting label="bg"  type="text" id="recording" enable="false" visible="false" />
   </category>
</settings>
